# 파이썬 시작하기

In [13]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:85% !important; }</style>"))

## 파이썬 시작하기

In [14]:
#001 화면에 Hello World 문자열을 출력하세요.


print("Hello World")

Hello World

In [15]:
#002 화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)


print("Mary's cosmetics")

Mary's cosmetics

In [16]:
#003 화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)


print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [17]:
#004 화면에 "C:\Windows"를 출력하세요.


print('"C:\Windows"')

"C:\Windows"

In [18]:
#005 다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.
#\n 줄바꿈
#\t 탭


print("안녕하세요. \n만나서\t반갑습니다.")

안녕하세요.
만나서	반갑습니다.

In [19]:
#006 print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.


print("오늘은", "일요일")

오늘은 일요일

In [20]:
#007 print() 함수를 사용하여 다음과 같이 출력하세요.
# naver;kakao;sk;samsung


print("naver","kakao","sk","samsung", sep = ";")

naver;kakao;sk;samsung

In [21]:
#008 print() 함수를 사용하여 다음과 같이 출력하세요.
# naver/kakao/sk/samsung


print("naver", "kakao", "sk", "samsung", sep = "/")

naver/kakao/sk/samsung

In [22]:
#009 다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.

print("first",end="");print("second")

firstsecond

In [23]:
#010 5/3을 출력하세요
print(5/3)

1.6666666666666667

## 파이썬 변수

In [24]:
#011 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

samsung_amt = 50000
samsung_cnt = 10
tt_amt = samsung_amt * samsung_cnt

print(tt_amt)

500000

In [25]:
#012 다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.


# 항목	값
# 시가총액	298조
# 현재가	50,000원
# PER	15.79

tt_amt = 2980000000000
now_amt = 50000
per = 15.79

print(tt_amt, type(tt_amt))
print(now_amt, type(now_amt))
print(per, type(per))

2980000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [26]:
#013 변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.

s = "hello"
t = "python"

# 두 변수를 이용하여 아래와 같이 출력해보세요.

# hello! python
# print(s, "! ", t, sep = "")
print(s+"!", t)

hello! python

In [27]:
#014 아래 코드의 실행 결과를 예상해보세요.

# >> 2 + 2 * 3 
# 8
print(2 + 2 * 3)

8

In [28]:
#015 type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.

# >> a = 128
# >> print (type(a))
# <class 'int'>


a = "132"

print(type(a))

<class 'str'>

In [29]:
#016 문자열 to 정수형(str to int)

# 문자열 '720'를 정수형으로 변환해보세요.

num_str = "720"

num_str = int(num_str)

num_str

720

In [30]:
#017 int to str

num = 100

num = str(num)
num

'100'

In [31]:
#018 str to float 
x = "15.79"
x = float(x)
x

15.79

In [32]:
#019 str to int
year = "2020"
this_year = int(year)
print(this_year, this_year-1, this_year-2)

2020 2019 2018

In [33]:
#020 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

month_amt = 48584
month = 36
total_amt = month_amt * month
print(total_amt)

1749024

## 파이썬 문자열

In [34]:
#021 letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.
letters = 'python'

print(letters[0], letters[2])

p t

In [35]:
#022 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

license_plate = "24가 2210"

print(license_plate[-4:])

2210

In [36]:
#023 아래의 문자열에서 '홀' 만 출력하세요.


string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [37]:
#024 문자열을 거꾸로 뒤집어 출력하세요.

string = "python"

string[::-1]

'nohtyp'

In [38]:
#025 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.

phone_number = "010-1111-2222"

print(phone_number.replace("-", " "))

010 1111 2222

In [39]:
#026 25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.


print(phone_number.replace("-",""))

01011112222

In [40]:
#027 url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.

url = "http://sharebook.kr"

#한거 : print(url[-2:])
#모범
url.split(".")[1]

'kr'

In [41]:
#028 아래 코드의 실행 결과를 예상해보세요.

lang = 'python'
lang[0] = 'P'
print(lang)

# 문자열은 수정할 수 없음 assign 못함

TypeError: 'str' object does not support item assignment

In [ ]:
#029 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

string = 'abcdfe2a354a32a'

print(string.replace("a", "A"))

In [ ]:
#030 아래 코드의 실행 결과를 예상해보세요.

string = 'abcd'
string.replace('b', 'B') #aBcd
print(string) #abcd

In [ ]:
#031 문자열 합치기 아래 코드의 실행 결과를 예상해보세요.
a = "3"
b = "4"
print(a + b)
# concat(34)

In [ ]:
#032 문자열 곱하기 결과예상
print("Hi" * 3)
#HiHiHi

In [42]:
#033 문자열 곱하기 화면에 "-"를 80개 출력하세요
print("-" * 80)

--------------------------------------------------------------------------------

In [43]:
#034 변수에 다음과 같은 문자열이 바인딩되어 있습니다.

t1 = 'python'
t2 = 'java'

#변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.

#실행 예:
# python java python java python java python java

print((t1 + " " + t2 + " ")*3)

python java python java python java

In [44]:
#035 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

# 이름: 김민수 나이: 10
# 이름: 이철희 나이: 13

#이렇게 하는건 몰랐었음, 근데 굳이 몰라도 될 듯. 왜냐하면 이렇게 처리하면 변수가 숫자인지 str인지 구분해줘야함
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [45]:
#036 .format 사용
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [46]:
#037 f-string. 이것도 몰랐었음. 근데 .format보다 이게 더 좋아보인다. .format에서는 {} 개수가 많아지면 알아보기 힘든데, 이건 괜찮을 듯
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [47]:
#038 컴마 제거하기 삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

stocks = "5,969,782,550"
stocks_int = stocks.replace(",", "")
stocks_int = int(stocks_int)
stocks_int

5969782550

In [48]:
#039 문자열 슬라이싱 다음과 같은 문자열에서 '2020/03'만 출력하세요.

quarter = "2020/03(E) (IFRS연결)"

print(quarter[:7])

2020/03

In [49]:
#040 strip method 문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

data = "   삼성전자    "
data.strip() # lstrip() = 왼쪽공백제거, rstrip() = 오른쪽공백제거

'삼성전자'

In [50]:
#041 upper method 다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.

ticker = "btc_krw"

ticker = ticker.upper()

print(ticker)

BTC_KRW

In [51]:
#042 lower method 다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.

ticker.lower()

'btc_krw'

In [52]:
#043 capitalize method 문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

t = "hello"
t.capitalize()

'Hello'

In [53]:
#044 endswith method 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.

file_list = ["clf_report.xlsx", "segment_report.words", "reg_report.txt", "reg_report.csv"]

for t in file_list:
  if t.endswith("xlsx") == True or t.endswith("csv") == True or t.endswith("txt") == True:
    pass
  else:
    print(f"{t}의 파일 형식을 확인하세요")

segment_report.words의 파일 형식을 확인하세요

In [54]:
#045 endswith method 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.
file_name = "report.xlsx"
file_name.endswith(("xls", "xlsx"))

True

In [55]:
#046 startswith method 파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.

file_name = "2020_보고서.xlsx"

file_name.startswith("2020")

True

In [56]:
#047 split method 다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요. 
a = "hello world"

print(a.split(sep = " "))
print(a.split(sep = "l", maxsplit = -1)) #maxsplit = 몇 개의 칸막이 나눌거냐?
print(a.split(sep = "l", maxsplit = 1)) #maxsplit = 몇 개의 칸막이 나눌거냐? = 1개니까 나눠진 덩어리는 2개
print(a.split(sep = "l", maxsplit = 2)) #maxsplit = 몇 개의 칸막이 나눌거냐? = 2개니까 나눠진 덩어리는 3개
print(a.split(sep = "l", maxsplit = 3)) #maxsplit = 몇 개의 칸막이 나눌거냐? = 3개니까 나눠진 덩어리는 4개

['hello', 'world']
['he', '', 'o wor', 'd']
['he', 'lo world']
['he', '', 'o world']
['he', '', 'o wor', 'd']

In [57]:
#048 split method 다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.

ticker = "btc_krw"

ticker.split(sep = "_")

['btc', 'krw']

In [58]:
#049 split method 다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.

date = "2020-05-01"

date.split("-")

['2020', '05', '01']

In [59]:
#050 rstrip method 문자열 오른쪽에 공백이 있을 때 이를 제거해보세요
data = "039490        "

data.rstrip(" ")

'039490'

## 파이썬 리스트

In [60]:
#051 리스트 생성 2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)

movie_rank = ["닥터스트레인지", "스플릿", "럭키"]
movie_rank

['닥터스트레인지', '스플릿', '럭키']

In [61]:
#052 리스트에 원소추가 051의 movie_rank 리스트에 "배트맨"을 추가하라.

movie_rank.append("배트맨")
movie_rank

['닥터스트레인지', '스플릿', '럭키', '배트맨']

In [62]:
#053 닥터스트레인지와 스플릿 사이에 슈퍼맨을 추가하라 insert 사용
movie_rank.insert(1, "슈퍼맨")
movie_rank

['닥터스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [63]:
#054 movie_rank에서 럭키를 삭제하라 del 사용
del movie_rank[3]
movie_rank

['닥터스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [64]:
#055 movie_rank 리스트에서 스플릿과 배트맨을 삭제하라

del movie_rank[-2:]
movie_rank

['닥터스트레인지', '슈퍼맨']

In [65]:
#056 lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고있는 langs list를 만들어라

lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

langs = lang1 + lang2
langs

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [66]:
#057 다음 리스트에서 최댓값과 최솟값을 출력하라.

nums = [1, 2, 3, 4, 5, 6, 7]


print(f"max: {max(nums)}\n"
     f"max: {min(nums)}")

max: 7
max: 1

In [67]:
#058 다음 리스트의 합을 출력하라
nums = [1, 2, 3, 4, 5]
sum(nums)

15

In [68]:
#059 다음 리스트에 저장된 데이터의 개수를 화면에 구하여라
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]


#len을 distinct 하고 싶으면 set()으로 만들어주면 됨
print(f"nondistinct {len(cook)}")
print(f"distinct {len(set(cook))}")

nondistinct 12
distinct 11

In [69]:
#060 다음 리스트의 평균을 출력하라.

nums = [1, 2, 3, 4, 5]
average = sum(nums) / len(nums)
average

3.0

In [70]:
#061 price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)

price = ['20180728', 100, 130, 140, 150, 160, 170]


price[1:]

[100, 130, 140, 150, 160, 170]

In [71]:
#062 슬라이싱을 사용해서 홀수만 출력하라.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

nums[::2]

[1, 3, 5, 7, 9]

In [72]:
#063 슬라이싱을 사용해서 짝수만 출력하라.

nums[1::2]

[2, 4, 6, 8, 10]

In [73]:
#064 슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.


nums = [1, 2, 3, 4, 5]

nums[::-1]

[5, 4, 3, 2, 1]

In [74]:
#065 interest 리스트에는 아래의 데이터가 바인딩되어 있다.


interest = ['삼성전자', 'LG전자', 'Naver']

print(interest[0], interest[2])

삼성전자 Naver

In [75]:
#066 interest 리스트를 사용하여 아래와 같이 화면에 출력하라.
#삼성전자 LG전자 Naver SK하이닉스 미래에셋대우


interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print(" ".join(interest))# join 몰랐음

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [76]:
#067 interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print("/".join(interest)) # join 몰랐음

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [77]:
#068 join() 메서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력하라.

# 출력 예시:
# 삼성전자
# LG전자
# Naver
# SK하이닉스
# 미래에셋대우


print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [78]:
#069 회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다.

string = "삼성전자/LG전자/Naver"
# >> print(interest)
# ['삼성전자', 'LG전자', 'Naver']

interest = string.split("/")
interest

['삼성전자', 'LG전자', 'Naver']

In [79]:
#070 오름차 정렬
data = [2, 4, 3, 1, 5, 10, 9]

data1 = sorted(data)
data.sort()#바로 값이 바뀌는 method. 객체로 못받음
print(data1)
print(data)

[1, 2, 3, 4, 5, 9, 10]
[1, 2, 3, 4, 5, 9, 10]

## 파이썬 튜플

In [80]:
#071 my_variable 이름의 비어있는 튜플을 만들라.

my_variable = ()
print(my_variable, type(my_variable))

() <class 'tuple'>

In [81]:
#072 2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)

# 순위 | 영화
# 1 | 닥터 스트레인지
# 2 | 스플릿
# 3 | 럭키

movie_rank = ("닥터스트레인지", "스플릿", "럭키")
movie_rank

('닥터스트레인지', '스플릿', '럭키')

In [82]:
#073 숫자 1 이 저장된 튜플을 생성하라.

my_tuple = (1)
type(my_tuple)

print("아래와 같이 괄호와 함께 하나의 정숫값을 저장하면 튜플이 정의 될 것같지만 그렇지 않습니다. type()을 출력해보면 파이썬은 튜플이 아닌 정수로 인식합니다.\n"
     f"{type(my_tuple)}")

아래와 같이 괄호와 함께 하나의 정숫값을 저장하면 튜플이 정의 될 것같지만 그렇지 않습니다. type()을 출력해보면 파이썬은 튜플이 아닌 정수로 인식합니다.
<class 'int'>

In [83]:
#073 하나의 데이터가 저장되는 경우, 아래와 같이 쉼표를 입력해만 합니다.

my_tuple = (1,)
print(my_tuple, type(my_tuple))

(1,) <class 'tuple'>

In [84]:
#074 다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.

t = (1, 2, 3)
t[0] = 'a'

#tuple은 element에 대한 assign이 안된다.(수정불가)

TypeError: 'tuple' object does not support item assignment

In [ ]:
#075 아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?

t = 1, 2, 3, 4

print(t, type(t))

#원칙적으로 튜플은 괄호와 함께 데이터를 정의해야 하지만, 사용자 편의를 위해 괄호 없이도 동작합니다.

In [ ]:
#076 변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라.

t = ('a', 'b', 'c')

# 튜플은 원소 하나만 변경하는 것이 불가능하기 때문에, 아예 새로운 값으로 할당해줘야함

t = ("A", "b", "c")
t

In [85]:
#077 다음 튜플을 리스트로 변환하라.


interest = ('삼성전자', 'LG전자', 'SK Hynix')
list(interest)
#튜플 원소는 변경 불가하나, type은 바꿀 수 있음

['삼성전자', 'LG전자', 'SK Hynix']

In [86]:
#078 다음 리스트를 튜플로 변경하라
interest = ['삼성전자', 'LG전자', 'SK Hynix']

tuple(interest)

('삼성전자', 'LG전자', 'SK Hynix')

In [87]:
#079 튜플 언팩킹 다음 코드의 실행 결과를 예상하라.

temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)
# 튜플은 언팩킹이 가능하다

apple banana cake

In [88]:
#080 range 함수 1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.


even_num = tuple(range(2, 100, 2)) # odd_num
print(even_num)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

## 파이썬 딕셔너리

In [89]:
# 기본적으로 데이터 언패킹은 좌변의 변수와 우변 데이터 개수가 같아야 합니다. 하지만 star expression을 사용하면 변수의 개수가 달라도 데이터 언패킹을 할 수 있습니다. 
# 튜플에 저장된 데이터 중에서 앞에 있는 두 개의 데이터만 필요할 경우 나머지 데이터의 언패킹 코드를 작성할 필요가 없습니다.

>> a, b, *c = (0, 1, 2, 3, 4, 5)
>> a
0
>> b
1
>> c
[2, 3, 4, 5]

SyntaxError: invalid syntax (<ipython-input-89-1c09c03e3163>, line 4)

In [90]:
#081 
# 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 좌측 8개의 값을 valid_score 변수에 바인딩하여라.

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

*valid_score, _, _  = scores
valid_score

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [91]:
#082
# 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 우측 8개의 값을 valid_score 변수에 바인딩하여라.

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

_, _, *valid_score = scores
valid_score

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [92]:
#083 
# 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 가운데 있는 8개의 값을 valid_score 변수에 바인딩하여라.

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_, *valid_score, _ = scores
valid_score

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [93]:
#084
# temp 이름의 비어있는 딕셔너리를 만들라.

temp = {}

In [94]:
#085 

# 다음 아이스크림 이름과 희망 가격을 딕셔너리로 구성하라.

# 이름	희망 가격
# 메로나	1000
# 폴라포	1200
# 빵빠레	1800

prod_dict = {"메로나":1000, "폴라포":1200, "빵빠레":1800}
prod_dict

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [95]:
#086
# 085 번의 딕셔너리에 아래 아이스크림 가격정보를 추가하라.

prod_dict["죠스바"] = 1200
prod_dict["월드콘"] = 1500
prod_dict

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [96]:
#087
# 085 딕셔너리를 사용하여 메로나 가격을 출력하라.
prod_dict["메로나"]

1000

In [97]:
# 088
# 다음 딕셔너리에서 메로나의 가격을 1300으로 수정하라.

prod_dict["메로나"] = 1300
prod_dict

{'메로나': 1300, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [98]:
# 089 
# 다음 딕셔너리에서 메로나를 삭제하라.

prod_dict = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

del prod_dict["메로나"]
prod_dict

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [99]:
# 090
# 다음 코드에서 에러가 발생한 원인을 설명하라.

icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']

# 없는 key를 호출함

KeyError: '누가바'

In [ ]:
# 091
# 아래의 표에서, 아이스크림 이름을 키값으로, (가격, 재고) 리스트를 딕셔너리의 값으로 저장하라. 딕셔너리의 이름은 inventory로 한다.

# 이름	가격	재고
# 메로나	300	20
# 비비빅	400	3
# 죠스바	250	100

inventory = {"메로나":[300, 20], "비비빅":[400, 3], "죠스바":[250,100]}
inventory

In [ ]:
# 092
# inventory 딕셔너리에서 메로나의 가격을 화면에 출력하라.
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
inventory["메로나"][0]

In [ ]:
# 093
# inventory 딕셔너리에서 메로나의 재고를 화면에 출력하라.
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
inventory["메로나"][1]

In [ ]:
# 094
# inventory 딕셔너리에 아래 데이터를 추가하라.

inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

inventory["월드콘"] = [500, 7]
inventory

In [ ]:
# 095
# 다음의 딕셔너리로부터 key 값으로만 구성된 리스트를 생성하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

ls = icecream.keys()
ls

In [ ]:
# 096
# 다음의 딕셔너리로부터 key 값으로만 구성된 리스트를 생성하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

ls = icecream.values()
ls

In [ ]:
# 097
# icecream 딕셔너리에서 아이스크림 판매 금액의 총합을 출력하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

tt_amt = sum(icecream.values())
tt_amt

In [ ]:
# 098
# 아래의 new_product 딕셔너리를 다음 icecream 딕셔너리에 추가하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

icecream.update(new_product)
icecream

In [ ]:
# 099
# 아래 두 개의 튜플을 하나의 딕셔너리로 변환하라. keys를 키로, vals를 값으로 result 이름의 딕셔너리로 저장한다.

keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

dict(zip(keys, vals))

In [ ]:
# 099-1 dict를 dataframe으로 만들 경우 index를 잡아주면 됨
# 아래 두 개의 튜플을 하나의 딕셔너리로 변환하라. keys를 키로, vals를 값으로 result 이름의 딕셔너리로 저장한다.

keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
pd.DataFrame(dict(zip(keys, vals), index = [0]))

In [ ]:
# 100
# date와 close_price 두 개의 리스트를 close_table 이름의 딕셔너리로 생성하라.

date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

dict(zip(date, close_price))

## 파이썬 분기문

In [100]:
#101 파이썬에서 True 혹은 False를 갖는 데이터 타입은 무엇인가?

#bool

In [101]:
#102 아래 코드의 출력 결과를 예상하라

print(3 == 5)

#False

False

In [102]:
#103 아래 코드의 결과를 예상하라.

print(3 < 5)

#True

True

In [103]:
#104 아래 코드의 결과를 예상하라.

x = 4
print(1 < x < 5)

# True

True

In [104]:
#105 아래 코드의 결과를 예상하라.

print((3 == 3) and (4 != 3))

#True

True

In [105]:
#106 아래 코드에서 에러가 발생하는 원인에 대해 설명하라.

print(3 => 4)
#부호 순서

SyntaxError: invalid syntax (<ipython-input-105-8cd33b575a33>, line 3)

In [ ]:
#108 아래 코드의 출력 결과를 예상하라

if 4 < 3:
  print("Hello World.")
else:
  print("Hi, there.")
  
#Hi, there

In [106]:
#109 아래 코드의 출력 결과를 예상하라

if True:
  print("1")
  print("2")
else:
  print("3")
print("4")

#1, 2, 4

1
2
4

In [107]:
#110 아래 코드의 출력 결과를 예상하라

if True:
  if False:
    print("1")
    print("2")
  else:
    print("3")
else:
  print("4")
print("5")

#3, 5

3
5

In [108]:
#111 사용자로부터 입력받은 문자열을 두 번 출력하라. 아래는 사용자가 "안녕하세요"를 입력한 경우의 출력 결과이다.

user = input("입력:")
print(user * 2)

입력:안녕하세요
안녕하세요안녕하세요

In [109]:
#112 사용자로부터 하나의 숫자를 입력받고, 입력 받은 숫자에 10을 더해 출력하라.

number = input("숫자를 입력하세요:")
print(int(number) + 10)

숫자를 입력하세요:50
60

In [110]:
#113 사용자로부터 하나의 숫자를 입력 받고 짝수/홀수를 판별하라.

number = input("입력: ")
if int(number) % 2 == 0:
  print("짝수")
else:
  print("홀수")

입력: 3
홀수

In [111]:
#114 사용자로부터 값을 입력받은 후 해당 값에 20을 더한 값을 출력하라. 단 사용자가 입력한 값과 20을 더한 계산 값이 255를 초과하는 경우 255를 출력해야 한다.

number = input("입력: ")
if int(number) + 20 > 255:
  print(255)
else:
  print(int(number) + 20)

입력: 50
70

In [112]:
#115 사용자로부터 하나의 값을 입력받은 후 해당 값에 20을 뺀 값을 출력하라. 단 출력 값의 범위는 0~255이다. 예를 들어 결괏값이 0보다 작은 값이되는 경우 0을 출력하고 255보다 큰 값이 되는 경우 255를 출력해야 한다.

number = input("입력: ")

output = int(number) - 20

if output < 0:
  print(0)
elif output > 255:
  print(255)
else:
  print(output)

입력: 266
246

In [113]:
#116 사용자로부터 입력 받은 시간이 정각인지 판별하라.

time = input("현재시간: ")
if time[-2:] == "00":
    print("정각 입니다.")
else:
    print("정각이 아닙니다.")

현재시간: 122
정각이 아닙니다.

In [114]:
#117 사용자로 입력받은 단어가 아래 fruit 리스트에 포함되어 있는지를 확인하라. 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

fruit = ["사과", "포도", "홍시"]

input_text = input("좋아하는 과일은? ")

if input_text in fruit:
  print("정답입니다.")
else:
  print("오답입니다.")

좋아하는 과일은? 홍시
정답입니다.

In [115]:
#118 투자 경고 종목 리스트가 있을 때 사용자로부터 종목명을 입력 받은 후 해당 종목이 투자 경고 종목이라면 '투자 경고 종목입니다'를 아니면 "투자 경고 종목이 아닙니다."를 출력하는 프로그램을 작성하라.

warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]

input_text = input("종목을 입력하세요.")

if input_text in warn_investment_list:
  print("투자 경고 종목입니다.")
else:
  print("투자 경고 종목이 아닙니다.")

종목을 입력하세요.Google
투자 경고 종목입니다.

In [116]:
#119 아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 키 (key) 값에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

input_text = input("계절을 입력하면 계절과 제철 과일이 출력됩니다. ")
if input_text in fruit.keys():
  print(input_text, fruit[input_text])
else:
  print(f"{input_text}은 제철과일이 없습니다")

계절을 입력하면 계절과 제철 과일이 출력됩니다. 여름
여름 토마토

In [117]:
fruit["여름"]

'토마토'

In [118]:
#120 아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 값 (value)에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

input_text = input("과일 이름을 입력하세요 ")

if input_text in fruit.values():
  print("정답입니다")
else:
  print("오답입니다")

과일 이름을 입력하세요 딸기
정답입니다

In [119]:
#121 사용자로부터 문자 한 개를 입력 받고, 소문자일 경우 대문자로, 대문자 일 경우, 소문자로 변경해서 출력하라.

input_text = input("알파벳을 입력하세요 ")

if input_text.islower() == True:
  print(input_text.upper())
else:
  print(input_text.lower())

알파벳을 입력하세요 d
D

In [120]:
#122 점수 구간에 해당하는 학점이 아래와 같이 정의되어 있다. 사용자로부터 score를 입력받아 학점을 출력하라.

input_text = input("점수를 입력하세요 ")

if int(input_text) in range(0,21,1):
  print("E")
elif int(input_text) in range(21,41,1):
  print("D")
elif int(input_text) in range(41,61,1):
  print("C")
elif int(input_text) in range(61,81,1):
  print("B")
else:
  print("A")

점수를 입력하세요 20
E

In [121]:
#123 사용자로부터 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 이를 원으로 변환하는 프로그램을 작성하라. 각 통화별 환율은 다음과 같다. 
#사용자는 100 달러, 1000 엔, 13 유로, 100 위안과 같이 금액과 통화명 사이에 공백을 넣어 입력한다고 가정한다.

input_amount = float(input("통화의 양을 입력하세요. (e.g. 100달러 -> 100 입력): "))
input_currency = input("통화의 종류를 입력하세요. (e.g. 100달러 -> 달러 입력): ")

current_rate_dict = {"달러":1167, "엔":1.096, "유로":1268, "위안":171}


print("원화 환산 금액은 " + str(current_rate_dict[input_currency] * input_amount) + "원 입니다.")
  
  
#원래 답안 - 훨씬 간결하긴 한데, 100달러와 같이 띄어쓰기 안할 경우 에러발생함(split이 기본적으로 공백을 기준으로 나누기 때문)
# 환율 = {"달러": 1167, 
#         "엔": 1.096, 
#         "유로": 1268, 
#         "위안": 171}
# user = input("입력: ")
# num, currency = user.split()
# print(float(num) * 환율[currency], "원")

통화의 양을 입력하세요. (e.g. 100달러 -> 100 입력): 100
통화의 종류를 입력하세요. (e.g. 100달러 -> 달러 입력): 위안
원화 환산 금액은 17100.0원 입니다.

In [124]:
#124 사용자로부터 세 개의 숫자를 입력 받은 후 가장 큰 숫자를 출력하라.

number_1 = input("1번 숫자를 입력하세요. ")
number_2 = input("2번 숫자를 입력하세요. ")
number_3 = input("3번 숫자를 입력하세요. ")

print(max(number_1, number_2, number_3))

1번 숫자를 입력하세요. 1
2번 숫자를 입력하세요. 5
3번 숫자를 입력하세요. 8
8

In [127]:
#125 휴대폰 번호 앞자리에 따라 통신사는 아래와 같이 구분된다. 사용자로부터 휴대전화 번호를 입력 받고, 통신사를 출력하는 프로그램을 작성하라.

input_cell_no = input("휴대전화 번호를 입력하세요. (e.g. 010-1234-5678)")
first_no = input_cell_no.split("-")[0]
if first_no == "011":
  print("SKT")
elif first_no == "016":
  print("KT")
elif first_no == "019":
  print("LGU")
else:
  print("알 수 없음")

휴대전화 번호를 입력하세요. (e.g. 010-1234-5678)011-0303-0303
SKT

In [ ]:
input_post_no[0:2]

In [129]:
#126 우편번호는 5자리로 구성되는데, 앞의 세자리는 구를 나타낸다. 예를들어, 강북구의 경우 010, 011, 012 세 자리로 시작한다.

try:
  input_post_no = input("우편번호 5자리를 입력하세요. 입력한 값: ")
  int(input_post_no)*1
except:
  print("잘못된 우편번호를 입력했습니다.")
else:
  if len(input_post_no) == 5 and input_post_no[0:2] in ["01"] and int(input_post_no[2]) <= 2:
    print("강북구")
  elif len(input_post_no) == 5 and input_post_no[0:2] in ["01"] and int(input_post_no[2]) <= 5:
    print("도봉구")
  elif len(input_post_no) == 5 and input_post_no[0:2] in ["01"] and int(input_post_no[2]) <= 9:
    print("노원구")
  else:
    print("잘못된 우편번호를 입력했습니다.")

우편번호 5자리를 입력하세요. 입력한 값: 01015
강북구

In [130]:
#127 주민등록번호 뒷 자리 7자리 중 첫째 자리는 성별을 나타내는데, 1, 3은 남자 2, 4는 여자를 의미한다. 사용자로부터 13자리의 주민등록번호를 입력 받은 후 성별 (남자, 여자)를 출력하는 프로그램을 작성하라.

try:
  input_id = input("주민번호 13자리를 입력하세요.(입력 예시: 890223-1000000) 입력한 값: ")
  input_id.split("-")*1
except:
  print("잘못된 주민번호를 입력했습니다.")
if len(input_id) == 14 and input_id.split("-")[1][0] in ["1","3"]:
  print("남성입니다.")
elif len(input_id) == 14 and input_id.split("-")[1][0] in ["2", "4"]:
  print("여성입니다.")
else:
  print("잘못된 주민번호를 입력했습니다.")

주민번호 13자리를 입력하세요.(입력 예시: 890223-1000000) 입력한 값: 890223-1000000
남성입니다.

In [131]:
#128 주민등록번호의 뒷 자리 7자리 중 두번째와 세번째는 지역코드를 의미한다. 주민 등록 번호를 입력 받은 후 출생지가 서울인지 아닌지 판단하는 코드를 작성하라

try:
  input_id = input("주민번호 13자리를 입력하세요.(입력 예시: 890223-1000000) 입력한 값: ")
  input_id.split("-")*1
except:
  print("잘못된 주민번호를 입력했습니다.")
else:
  condition = int(input_id.split("-")[1][1:3])
  if len(input_id) == 14 and condition <= 8:
    print("서울입니다.")
  elif len(input_id) == 14 and condition <= 12:
    print("부산입니다.")
  elif len(input_id) == 14:
    print("기타지역입니다.")
  else:
    print("잘못된 주민번호를 입력했습니다.")

주민번호 13자리를 입력하세요.(입력 예시: 890223-1000000) 입력한 값: 890223-1000000
서울입니다.

In [133]:
#129 주민등록번호는 13자리로 구성되는데 마지막 자리수는 주민등록번호의 유효성을 체크하는데 사용된다. 먼저 앞에서부터 12자리의 숫자에 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5를 차례로 곱한 뒤 그 값을 전부 더한다. 
# 연산 결과 값을 11로 나누면 나머지가 나오는데 11에서 나머지를 뺀 값이 주민등록번호의 마지막 번호가 된다.
y = "234567892345"
lst = []

try:
  input_id_real = input("주민번호 13자리를 입력하세요.(입력 예시: 890223-1000000) 입력한 값: ")
  input_id = input_id_real.replace("-","")*1
except:
  print("잘못된 주민번호를 입력했습니다.")
else:
  if len(input_id_real) == 14:
    for i in range(0,12,1):
      lst.append(int(input_id[i]) * int(y[i]))
    if len(input_id_real) == 14 and int(str(sum(lst)/11).split(".")[1][0]) == int(input_id[-1]):
      print("정상 주민번호입니다.")
    else:
      print("입력상에는 문제가 없으나, 잘못된 주민번호입니다.")
  else:
    print("잘못된 주민번호를 입력하였습니다.")

주민번호 13자리를 입력하세요.(입력 예시: 890223-1000000) 입력한 값: 890223-1000000
입력상에는 문제가 없으나, 잘못된 주민번호입니다.

In [141]:
# str(sum(lst)/11)
# str(sum(lst)/11).split(".")[1][0]
# int(input_id[-1])

'5'

In [142]:
#130 아래 코드는 비트코인의 가격 정보를 딕셔너리로 가져오는 코드이다.
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

In [143]:
btc

{'opening_price': '57413000',
 'closing_price': '57620000',
 'min_price': '56899000',
 'max_price': '57916000',
 'units_traded': '319.82256432',
 'acc_trade_value': '18387550324.826',
 'prev_closing_price': '57468000',
 'units_traded_24H': '10204.18672936',
 'acc_trade_value_24H': '579670194499.1826',
 'fluctate_24H': '1909000',
 'fluctate_rate_24H': '3.43',
 'date': '1614271501875'}

In [144]:
gap = int(btc["max_price"]) - int(btc["min_price"])
adj_gap = int(btc["opening_price"]) + gap
max_price = int(btc["max_price"])


if adj_gap >= max_price:
  print("상승장")
else:
  print("하락장")

상승장

## 파이썬 반복문

In [145]:
#131 for문의 실행결과를 예측하라.

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)
    
# 사과
# 귤
# 수박

사과
귤
수박

In [146]:
#132 for문의 실행결과를 예측하라.

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")
# #####
# #####
# #####

#####
#####
#####

In [147]:
#133 다음 for 문과 동일한 기능을 수행하는 코드를 작성하세요.

for 변수 in ["A", "B", "C"]:
  print(변수)

print("A")
print("B")
print("C")

A
B
C
A
B
C

In [148]:
#134 for문을 풀어서 동일한 동작을하는 코드를 작성하라.

for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)

print("출력: A")
print("출력: B")
print("출력: C")

출력: A
출력: B
출력: C
출력: A
출력: B
출력: C

In [149]:
#135 for문을 풀어서 동일한 동작을 하는 코드를 작성하라.

for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)
    
    
var_1 = ["A", "B", "C"]
print("변환:", var_1[0].lower())
print("변환:", var_1[1].lower())
print("변환:", var_1[2].lower())

변환: a
변환: b
변환: c
변환: a
변환: b
변환: c

In [150]:
#136 다음 코드를 for문으로 작성하라.

변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)

for 변수 in [10, 20, 30]:
  print(변수)

10
20
30
10
20
30

In [151]:
#137 다음 코드를 for문으로 작성하라.

print(10)
print(20)
print(30)


for i in range(10, 40, 10):
  print(i)

10
20
30
10
20
30

In [152]:
#138 다음 코드를 for문으로 작성하라.

print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")

for i in range(10, 40, 10):
  print(i)
  print("-------")

10
-------
20
-------
30
-------
10
-------
20
-------
30
-------

In [153]:
#139 다음 코드를 for문으로 작성하라.

print("++++")
print(10)
print(20)
print(30)

print("++++")
for i in range(10, 40, 10):
  print(i)

++++
10
20
30
++++
10
20
30

In [154]:
#140 다음 코드를 for문으로 작성하라.

print("-------")
print("-------")
print("-------")
print("-------")

for i in range(4):
    print("-------")

-------
-------
-------
-------
-------
-------
-------
-------

In [155]:
#141 다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라. 단 부가세는 10원으로 가정한다.

리스트 = [100, 200, 300]

#110
#210
#310

for i in 리스트:
  print(i+10)

110
210
310

In [156]:
#142 for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라.

리스트 = ["김밥", "라면", "튀김"]
# 오늘의 메뉴: 김밥
# 오늘의 메뉴: 라면
# 오늘의 메뉴: 튀김

for t in 리스트:
  print(f"오늘의 메뉴: {t}")

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [157]:
#143 리스트에 주식 종목이름이 저장돼 있다.

리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
# 저장된 문자열의 길이를 다음과 같이 출력하라.

# 6
# 4
# 4

for t in 리스트:
  print(len(t))

6
4
4

In [158]:
#144 리스트에는 동물이름이 문자열로 저장돼 있다.

리스트 = ['dog', 'cat', 'parrot']
# 동물 이름과 글자수를 다음과 같이 출력하라.

# dog 3
# cat 3
# parrot 6


for t in 리스트:
  print(t, len(t))

dog 3
cat 3
parrot 6

In [159]:
#145 리스트에 동물 이름 저장돼 있다.

리스트 = ['dog', 'cat', 'parrot']
# for문을 사용해서 동물 이름의 첫 글자만 출력하라.

# d
# c
# p

for t in 리스트:
  print(t[0])

d
c
p

In [160]:
#146 리스트에는 세 개의 숫자가 바인딩돼 있다.

리스트 = [1, 2, 3]
# for문을 사용해서 다음과 같이 출력하라.

# 3 x 1
# 3 x 2
# 3 x 3

for i in 리스트:
  print("3 x", t)

3 x parrot
3 x parrot
3 x parrot

In [161]:
#147 리스트에는 세 개의 숫자가 바인딩돼 있다.

리스트 = [1, 2, 3]
# for문을 사용해서 다음과 같이 출력하라.

# 3 x 1 = 3
# 3 x 2 = 6
# 3 x 3 = 9

for i in 리스트:
  print(f"3 x {i} = {3*i}")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [162]:
#148 리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]
# for문을 사용해서 다음과 같이 출력하라.

# 나
# 다
# 라

for t in 리스트[1:]:
  print(t)

나
다
라

In [163]:
#149 리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]

# for문을 사용해서 다음과 같이 출력하라.

# 가
# 다

for t in 리스트[::2]:
  print(t)

가
다

In [164]:
#150 리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]
# for문을 사용해서 다음과 같이 출력하라.

# 라
# 다
# 나
# 가

for t in 리스트[::-1]:
  print(t)

라
다
나
가

In [165]:
#151 리스트에는 네 개의 정수가 저장돼 있다.

리스트 = [3, -20, -3, 44]
# for문을 사용해서 리스트의 음수를 출력하라.

# -20
# -3

for t in 리스트:
  if t < 0:
    print(t)
#   else:
#     continue

-20
-3

In [166]:
#152 for문을 사용해서 3의 배수만을 출력하라.

리스트 = [3, 100, 23, 44]
# 3

for i in 리스트:
  if i % 3 == 0:
    print(i)

3

In [167]:
#153 리스트에서 20 보다 작은 3의 배수를 출력하라

리스트 = [13, 21, 12, 14, 30, 18]
# 12
# 18

for i in 리스트:
  if (i < 20) and (i % 3 == 0):
    print(i)

12
18

In [168]:
#154 리스트에서 세 글자 이상의 문자를 화면에 출력하라

리스트 = ["I", "study", "python", "language", "!"]
# study
# python
# language

for t in 리스트:
  if len(t) >= 3:
    print(t)

study
python
language

In [169]:
#155 리스트에서 대문자만 화면에 출력하라.

리스트 = ["A", "b", "c", "D"]
# A
# D

for t in 리스트:
  if t == t.upper():
    print(t)
    
for t in 리스트:
  if t.isupper() == True: # == True를 안줘도 True인 애만 뱉어줌(근데 명시적으로 표현해주는 게 더 나아보임)
    print(t)

A
D
A
D

In [170]:
#156 리스트에서 소문자만 화면에 출력하라.

리스트 = ["A", "b", "c", "D"]
# b
# c

for t in 리스트:
  if t == t.lower():
    print(t)
print("\n")
for t in 리스트:
  if t.islower() == True: # islower() 메소드 자체를 써도 되고
    print(t)
print("\n")    
for t in 리스트:
  if t.isupper() == False: # 위에서 썼던 isupper() 메소드를 False, != True로 써도 되고
    print(t)
print("\n")
for t in 리스트:
  if not t.isupper(): # if 다음에 not을 붙여서 t.isupper() == True를 반대로 만들어줘도 되고
    print(t)

b
c


b
c


b
c


b
c

In [171]:
#157 이름의 첫 글자를 대문자로 변경해서 출력하라.

리스트 = ['dog', 'cat', 'parrot']
# Dog
# Cat
# Parrot

for t in 리스트:
  print(t[0].upper() + t[1:])

Dog
Cat
Parrot

In [172]:
#158 파일 이름이 저장된 리스트에서 확장자를 제거하고 파일 이름만 화면에 출력하라. (힌트: split() 메서드)

리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
# hello
# ex01
# intro

for t in 리스트:
  print(t.split(".")[0])

hello
ex01
intro

In [173]:
#159 파일 이름이 저장된 리스트에서 확장자가 .h인 파일 이름을 출력하라.

리스트 = ['intra.h', 'intra.c', 'define.hwp', 'run.py']
# intra.h

for t in 리스트:
  if t.split(".")[1] == "h": # 정확히 h인 경우
    print(t)
    
print("\n")

for t in 리스트:
  if t.split(".")[1][0] == "h": # h로 시작하는 경우
    print(t)

intra.h


intra.h
define.hwp

In [174]:
#160 파일 이름이 저장된 리스트에서 확장자가 .h나 .c인 파일을 화면에 출력하라.

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
# intra.h
# intra.c
# define.h

for t in 리스트:
  if (t.split(".")[1] == "h") or (t.split(".")[1] == "c"):
    print(t)

intra.h
intra.c
define.h

In [175]:
#161 for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라.

for i in range(0, 100, 1):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [176]:
#162 월드컵은 4년에 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.

for i in range(2002, 2051, 4):
  print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [177]:
#163 1부터 30까지의 숫자 중 3의 배수를 출력하라.

for i in range(3, 31, 3):
  print(i)

3
6
9
12
15
18
21
24
27
30

In [178]:
# 164-1 99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라.

for i in range(99, -1, -1):
  print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [179]:
# 164-2 99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라.

for i in range(100):
  print(99 - i)
# 정답은 이거였음

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [180]:
# 165 for문을 사용해서 아래와 같이 출력하라.

for i in range(0, 10, 1):
  print(i / 10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [181]:
# 166 구구단을 출력하라.

for i in range(2, 10, 1):
  print(f"--------{i}단---------")
  for j in range(1, 10, 1):
    print(f"{i} x {j} = {i*j}")

--------2단---------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
--------3단---------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
--------4단---------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
--------5단---------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
--------6단---------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
--------7단---------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
--------8단---------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
--------9단---------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [182]:
# 167 구구단을 출력하라. 단 홀수 번째 곱만 출력해라

for i in range(2, 10, 1):
  print(f"--------{i}단---------")
  for j in range(1, 10, 1):
    if (j == 1) or (j % 2 == 1):
      print(f"{i} x {j} = {i*j}")

--------2단---------
2 x 1 = 2
2 x 3 = 6
2 x 5 = 10
2 x 7 = 14
2 x 9 = 18
--------3단---------
3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27
--------4단---------
4 x 1 = 4
4 x 3 = 12
4 x 5 = 20
4 x 7 = 28
4 x 9 = 36
--------5단---------
5 x 1 = 5
5 x 3 = 15
5 x 5 = 25
5 x 7 = 35
5 x 9 = 45
--------6단---------
6 x 1 = 6
6 x 3 = 18
6 x 5 = 30
6 x 7 = 42
6 x 9 = 54
--------7단---------
7 x 1 = 7
7 x 3 = 21
7 x 5 = 35
7 x 7 = 49
7 x 9 = 63
--------8단---------
8 x 1 = 8
8 x 3 = 24
8 x 5 = 40
8 x 7 = 56
8 x 9 = 72
--------9단---------
9 x 1 = 9
9 x 3 = 27
9 x 5 = 45
9 x 7 = 63
9 x 9 = 81

In [183]:
# 168 1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.
val = 0

for i in range(1, 11, 1):
  val += i
print(val)

#최종 결괏값 55. 1~55까지 print 아님!

55

In [184]:
# 169 1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.
# 합: 25

val = 0
for i in range(1, 11, 2):
  val += i
print(val)

25

In [185]:
# 170 1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

val = 1

for i in range(1, 11, 1):
  val *= i
print(val)

3628800

In [186]:
# 171 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
  print(price_list[i])

32100
32150
32000
32500

In [187]:
# 173 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
  print((len(price_list)-1)-i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [188]:
# 174 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]

for i in range(1, 4):
  print(90 + (i*10), price_list[i])

100 32150
110 32000
120 32500

In [189]:
# 175 my_list를 아래와 같이 출력하라.

my_list = ["가", "나", "다", "라"]

for i in range(1,len(my_list)):
  print(my_list[i-1], my_list[i])

가 나
나 다
다 라

In [190]:
# 176 리스트를 아래와 같이 출력하라.

my_list = ["가", "나", "다", "라", "마"]

for i in range(2, len(my_list)):
  print(my_list[i-2], my_list[i-1], my_list[i])

가 나 다
나 다 라
다 라 마

In [191]:
# 177 반복문과 range 함수를 사용해서 my_list를 아래와 같이 출력하라.

my_list = ["가", "나", "다", "라"]

for i in range(1,len(my_list)):
  print(my_list[::-1][i-1], my_list[::-1][i])

라 다
다 나
나 가

In [192]:
# 178 리스트에는 네 개의 정수가 저장되어 있다. 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력하라.

my_list = [100, 200, 400, 800]
# 예를들어 100을 기준으로 우측에 위치한 200과의 차분 값를 화면에 출력하고, 200을 기준으로 우측에 위치한 400과의 차분값을 화면에 출력한다. 이어서 400을 기준으로 우측에 위치한 800과의 차분값을 화면에 출력한다.
for i in range(len(my_list)-1):
  print(my_list[i+1]-my_list[i])

100
200
400

In [193]:
# 179 리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.

my_list = [100, 200, 400, 800, 1000, 1300]
# 첫 번째 줄에는 100, 200, 400의 평균값이 출력된다. 두 번째 줄에는 200, 400, 800의 평균값이 출력된다. 같은 방식으로 나머지 데이터의 평균을 출력한다.

for i in range(0,len(my_list)-2):
  print(sum(my_list[i:i+3])/len(my_list[i:i+3]))

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [194]:
# 180 리스트에 5일간의 저가, 고가 정보가 저장돼 있다. 고가와 저가의 차를 변동폭이라고 정의할 때, low, high 두 개의 리스트를 사용해서 5일간의 변동폭을 volatility 리스트에 저장하라.

low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility = []

for i in range(len(low_prices)):
  volatility.append(high_prices[i] - low_prices[i])
volatility

[50, 100, 30, 80, 0]

In [195]:
# 181 아래 표에서 하나의 행을 하나의 리스트로, 총 3개의 리스트를 갖는 이차원 리스트 apart를 정의하라
# lst_1 = ["101", "201", "301"]
# lst_2 = ["102", "202", "302"]
# pd.DataFrame(zip(lst_1, lst_2), columns = ["a","b"])

# 아래처럼 생김
# 101호	102호
# 201호	202호
# 301호	302호
apart = [["101호", "102호"], ["201호", "202호"], ["301호", "302호"]]
apart

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [196]:
# 182 아래 표에서 하나의 열을 하나의 리스트로, 총 2개의 리스트를 갖는 이차원 리스트 stock을 정의하라.


# 시가	종가
# 100	80
# 200	210
# 300	330
stock = [["시가", 100, 200, 300], ["종가", 80, 210, 330]]
print(stock)
print(pd.DataFrame(stock).set_index(0).T)

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

NameError: name 'pd' is not defined

In [ ]:
# 183 아래 표를 stock 이름의 딕셔너리로 표현하라.시가를 key로 저장하고, 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다. 
#종가 역시 key로 저장하고 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다.

# 시가	종가
# 100	80
# 200	210
# 300	330

stock = {"시가":[100, 200, 300], "종가":[80, 210, 330]}
stock

In [ ]:
# 184 아래 표를 stock 이라는 이름의 딕셔너리로 표현하라. 날짜를 key로 저장하고, 나머지 같은 행의 데이터를 리스트로 저장해서 value로 저장한다. 첫 열이 날짜이다.

# 10/10	80	110	70	90
# 10/11	210	230	190	200

stock = {"10/10":[80, 110, 70, 90],
        "10/11":[210, 230, 190, 200]}
stock

In [ ]:
# 185 리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [[101, 102], [201, 202], [301, 302]]

# 101 호
# 102 호
# 201 호
# 202 호
# 301 호
# 302 호

# 내가 range로 index 뽑아서 slicing 하는 게 버릇돼서 보통 이렇게 짜는데,
for i in range(len(apart)):
  for j in range(len(apart[i])):
    print(apart[i][j],"호")
    
print("\n")

#2차원으로 묶여있기 때문에 굳이 slicing안하고 1, 2 / 3, 4 / 5, 6 순서로 반복할 수 있게 짤 수 있음
for i in apart:
  for j in i:
    print(j,"호")

In [ ]:
# 186 리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]

# 301 호
# 302 호
# 201 호
# 202 호
# 101 호
# 102 호

for i in apart[::-1]:
  for j in i:
    print(j, "호")

In [ ]:
# 187 리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [[101, 102], [201, 202], [301, 302]]

# 302 호
# 301 호
# 202 호
# 201 호
# 102 호
# 101 호

for i in apart[::-1]: # apart list의 2차원 원소들의 순서만 바뀜([101, 102]가 맨 뒤로)
  for j in i[::-1]: # [301, 302]의 상태에서 1차원(위에선 2차원) 원소 내의 순서가 [302, 301]로 바뀜
    print(j, "호")

In [ ]:
# 188
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [[101, 102], [201, 202], [301, 302]]

# 101 호
# -----
# 102 호
# -----
# 201 호
# -----
# 202 호
# -----
# 301 호
# -----
# 302 호
# -----

for i in apart:
  for j in i:
    print(j, "호" + "\n" + "-"*5)

In [ ]:
# 189
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]
# 101 호
# 102 호
# -----
# 201 호
# 202 호
# -----
# 301 호
# 302 호
# -----

for i in apart:
  for j in i:
    print(j,"호")
  print("-"*5)

In [ ]:
# 190 리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]
# 101 호
# 102 호
# 201 호
# 202 호
# 301 호
# 302 호
# -----

for i in apart:
  for j in i:
    print(j,"호")
print("-"*5)

In [ ]:
# 191 data에는 매수한 종목들의 OHLC (open/high/low/close) 가격 정보가 바인딩 되어있다.

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

# 수수료를 0.014 %로 가정할 때, 각 가격에 수수료를 포함한 가격을 한라인에 하나씩 출력하라.

for i in data:
  for j in i:
    print(j+j*0.00014)

In [ ]:
# 192 191번의 출력 결과에 행단위로 "----" 구분자를 추가하라.

for i in data:
  for j in i:
    print(j+j*0.00014)
  print("-"*5)

In [ ]:
# 193 192 번 문제의 결괏값을 result 이름의 리스트에 1차원 배열로 저장하라.

# >> print(result)
# [2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, ...]
lst = []
for i in data:
  for j in i:
    lst.append(j+j*0.00014)
lst

In [ ]:
# 194 191번 문제의 결괏값을 result 이름의 리스트에 2차원 배열로 저장하라. 저장 포맷은 아래와 같다. 각 행에 대한 데이터끼리 리스트에 저장되어야 한다.

# >> print(result)
# [
#  [2000.28, 3050.427, 2050.2870000000003, 1980.2772],
#  [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772],
#  [15452.163, 15052.107, 15552.177, 14902.086000000001]
# ]

lst_1 = []
for i in data:
  lst_2 = []
  for j in i:
    lst_2.append(j+j*0.00014)
  lst_1.append(lst_2)
lst_1

In [ ]:
# 195 ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 화면에 종가데이터를 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for t in ohlc[1:]:
    print(t[3])
#     if i >= 150:
#       print(i)

In [ ]:
# 196 ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 화면에 종가데이터를 출력하되 150이상인 경우에만 출력하라

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for t in ohlc[1:]:
  if t[3] >= 150:
    print(t[3])
#     if i >= 150:
#       print(i)

In [ ]:
# 197 ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 종가가 시가 보다 크거나 같은 경우에만 종가를 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
# 100
# 310

for t in ohlc[1:]:
  if t[3] >= t[0]:
    print(t[3])

In [ ]:
# 198 ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 고가와 저가의 차이를 변동폭으로 정의할 때 변동폭을 volatility 이름의 리스트에 저장하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
# >> print(volatility)
# [40, 30, 10]

volatility = []

for t in ohlc[1:]:
  volatility.append(t[1] - t[2])
volatility

In [ ]:
# 199 리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 종가가 시가보다 높은 날의 변동성 (고가 - 저가)을 화면에 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
# 종가가 시가보다 높은 거래일의 OHLC는 [300, 310, 300, 310] 이다. 따라서 이 거래일의 변동성은 10 (310 - 300)이다.

# 10

for t in ohlc[1:]:
  if t[3] > t[0]:
    print(t[1] - t[2])

In [ ]:
# 200 리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 시가에 매수해서 종가에 매도 했을 경우 총 수익금을 계산하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

# 1일차 수익 0원 (100 - 100), 2일차 수익 -10원 (190 - 200), 3일차 수익 10원 (310 - 300) 이다.

# 0
profit = 0
for t in ohlc[1:]:
  profit += t[3] - t[0]
profit

## 파이썬 함수

In [197]:
# 201 "비트코인" 문자열을 화면에 출력하는 print_coin() 함수를 정의하라.

def print_coin():
  print("비트코인")
print_coin()

비트코인

In [198]:
for i in range(100):
  print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [199]:
# 204 "비트코인" 문자열을 100번 화면에 출력하는 print_coins() 함수를 정의하라.
def print_coin(n = 100):
  for i in range(n):
    print("비트코인")
print_coin(1)

비트코인

In [200]:
# 205 아래의 에러가 발생하는 이유에 대해 설명하라.

hello()
def hello():
    print("Hi")
    
# 함수 정의가 뒤에 되어 있음

NameError: name 'hello' is not defined

In [ ]:
# 207 아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)

print("A")

def message() :
    print("B")

print("C")
message()

#A
#C
#B

In [ ]:
# 208 아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)

print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()

#A
#C
#B
#E
#D

In [ ]:
# 209 아래 코드의 실행 결과를 예측하라.

def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()

#B
#A

In [201]:
# 210 아래 코드의 실행 결과를 예측하라.

def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()


#B
#C
#B
#C
#B
#C
#A

B
C
B
C
B
C
A

In [202]:
# 211 함수의 호출 결과를 예측하라.

def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

#input을 그대로 output
#안녕
#Hi

안녕
Hi

In [203]:
# 212 함수의 호출 결과를 예측하라.

def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

#7
#15

7
15

In [204]:
# 213
# 아래와 같은 에러가 발생하는 원인을 설명하라.

def 함수(문자열) :
    print(문자열)
함수()
# TypeError: 함수() missing 1 required positional argument: '문자열'
    
#함수에 넣어줄 input이 없어서

TypeError: 함수() missing 1 required positional argument: '문자열'

In [ ]:
# 214 아래와 같은 에러가 발생하는 원인을 설명하라.

def 함수(a, b) :
    print(a + b)

함수("안녕", 3)
# TypeError: must be str, not int
  
#str, int 상태에서는 a + b가 불가능

In [ ]:
# 215 하나의 문자를 입력받아 문자열 끝에 ":D" 스마일 문자열을 이어 붙여 출력하는 print_with_smile 함수를 정의하라.

def print_with_smile(obj):
  print(obj+":D")

In [ ]:
# 216 215에서 정의한 함수를 호출하라. 파라미터는 "안녕하세요"로 입력하라.
print_with_smile("안녕하세요")

In [ ]:
# 217 현재 가격을 입력 받아 상한가 (30%)를 출력하는 print_upper_price 함수를 정의하라.
def print_upper_price(price):
  print(price*1.3)
print_upper_price(100)

In [ ]:
# 218 두 개의 숫자를 입력받아 두 수의 합을 출력하는 print_sum 함수를 정의하라.
def print_sum(a, b):
  print(a + b)
print_sum(1, 4)

In [ ]:
# 219 두 개의 숫자를 입력받아 합/차/곱/나눗셈을 출력하는 print_arithmetic_operation 함수를 작성하라.
def print_arthmetic_operation(a, b):
  print(f"{a} + {b} = ", a + b)
  print(f"{a} - {b} = ", a - b)
  print(f"{a} * {b} = ", a * b)
  print(f"{a} / {b} = ", a / b)
print_arthmetic_operation(3, 4)
# print_arithmetic_operation(3, 4)
# 3 + 4 = 7
# 3 - 4 = -1
# 3 * 4 = 12
# 3 / 4 = 0.75

In [ ]:
# 220 세 개의 숫자를 입력받아 가장 큰수를 출력하는 print_max 함수를 정의하라. 단 if 문을 사용해서 수를 비교하라.
def print_max(a, b, c):
  if a > b and a > c:
    print(a)
  elif b > a and b > c:
    print(b)
  elif c > a and c > b:
    print(c)
  else:
    print("All values are the same")
print_max(5,5,5) # 우위가 없을 때
print_max(5,6,7) # 우위가 있을 때

In [ ]:
# 221 입력된 문자열을 역순으로 출력하는 print_reverse 함수를 정의하라.
def print_reverse(obj):
  print(obj[::-1])
print_reverse("python")
# print_reverse("python")
# nohtyp

In [ ]:
# 222 성적 리스트를 입력 받아 평균을 출력하는 print_score 함수를 정의하라.

def print_score(score_list):
  print(sum(score_list) / len(score_list))
x = [1,2,3,4,5,6]
print_score(x)
# print_score ([1, 2, 3])
# 2.0

In [ ]:
# 223 하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의하라.
x = [1, 3, 2, 10, 12, 11, 15]

def print_even(score_list):
  for i in score_list:
    if i % 2 == 0:
      print(i)
print_even(x)
# print_even ([1, 3, 2, 10, 12, 11, 15])

In [ ]:
# 224 하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의하라.

def print_kiss(dict_name):
  for keys in dict_name.keys(): # 굳이 for를 사용하는 이유는, 그냥 print(dict_name.keys())면 dict_keys(["이름", "나이", "성별"])) 이렇게 나오기 때문
    print(keys)
tmp_dict = {"이름":"김말똥", "나이":30, "성별":0}
print_kiss(tmp_dict)
# print_keys ({"이름":"김말똥", "나이":30, "성별":0})
# 이름
# 나이
# 성별

In [ ]:
# 225 my_dict에는 날짜를 키값으로 OHLC가 리스트로 저장돼 있다.

my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}
# my_dict와 날짜 키값을 입력받아 OHLC 리스트를 출력하는 print_value_by_key 함수를 정의하라.

# print_value_by_key  (my_dict, "10/26")
# [100, 130, 100, 100]

def print_value_by_key(dict_name, key):
  print(dict_name[key])
print_value_by_key(my_dict, "10/26")

In [ ]:
# 226 입력 문자열을 한 줄에 다섯글자씩 출력하는 print_5xn(string) 함수를 작성하라.
def print_5xn(string):
  length = int(len(string) / 5) # int를 쓰면 이산형으로 그 숫자를 넘어서야 해당 정수로 인식함(예. 2.4 = 2, 2.6 = 2, 3.0 = 3)
  for i in range(length + 1):
    print(string[i * 5 : i * 5 + 5])

print_5xn("아이엠어보이유알어걸2233")
# 아이엠어보
# 이유알어걸

In [ ]:
# 227 문자열과 한줄에 출력될 글자 수를 입력을 받아 한 줄에 입력된 글자 수만큼 출력하는 print_mxn(string) 함수를 작성하라.
def print_mxn(string, output_length):
  length = int(len(string) / output_length)
  for i in range(length + 1):
    print(string[i * output_length : i * output_length + output_length])
  
print_mxn("아이엠어보이유알어걸", 3)
# 아이엠
# 어보이
# 유알어
# 걸

In [ ]:
# 228 연봉을 입력받아 월급을 계산하는 calc_monthly_salary(annual_salary) 함수를 정의하라. 회사는 연봉을 12개월로 나누어 분할 지급하며, 이 때 1원 미만은 버림한다.
def calc_monthly_salary(annual_salary):
  print(int(annual_salary / 12))
calc_monthly_salary(12000012)
# 1000000

In [ ]:
# 229 아래 코드의 실행 결과를 예측하라.
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)

#왼쪽: 100
#오른쪽: 200

In [ ]:
# 230 아래 코드의 실행 결과를 예측하라.
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

#왼쪽: 200
#오른쪽: 100

In [ ]:
# 231 아래 코드를 실행한 결과를 예상하라.

def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result)
#result 정의 안됐다고 나옴
#return해주거나 
#print를 해주거나

In [ ]:
# 232 문자열 하나를 입력받아 인터넷 주소를 반환하는 make_url 함수를 정의하라.
def make_url(company):
  url = f"www.{company}.com"
  return url 


make_url("naver")
# url
# www.naver.com

In [ ]:
# 233 문자열을 입력받아 각 문자들로 구성된 리스트로 반환하는 make_list 함수를 정의하라.
def make_list(string):
  lst = []
  for t in string:
    lst.append(t)
  return lst

make_list("abcd")
# ['a', 'b', 'c', 'd']

In [ ]:
# 234 숫자로 구성된 하나의 리스트를 입력받아, 짝수들을 추출하여 리스트로 반환하는 pickup_even 함수를 구현하라.
def pickup_even(num_list):
  lst = []
  for i in num_list:
    if i % 2 == 0:
      lst.append(i)
  return lst

pickup_even([3, 4, 5, 6, 7, 8])
# [4, 6, 8]

In [ ]:
# 235 콤마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 convert_int 함수를 정의하라.
def convert_int(string_number):
  parse_string_to_number = int(string_number.replace(",",""))
  return parse_string_to_number

convert_int("1,234,567")
# 1234567

In [ ]:
# 236 아래 코드의 실행 결과를 예측하라.

def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)

#22

In [ ]:
# 237 아래 코드의 실행 결과를 예측하라.

def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)

#22

In [205]:
# 238 아래 코드의 실행 결과를 예측하라.

def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)

#140

140

In [206]:
# 239 아래 코드의 실행 결과를 예측하라.

def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)

#16

16

In [207]:
# 240 아래 코드의 실행 결과를 예측하라.

def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)

#28

28

## 파이썬 모듈

In [208]:
# 241 현재시간 - datetime 모듈을 사용해서 현재 시간을 화면에 출력해보세요.
import datetime
print(datetime.datetime.now())

2021-02-26 01:45:35.507054

In [209]:
# 242 현재시간의 타입 - datetime 모듈의 now 함수의 리턴 값의 타입을 화면에 출력해보세요.
print(type(datetime.datetime.now()))

<class 'datetime.datetime'>

In [210]:
datetime.timedelta(days = i)

datetime.timedelta(days=99)

In [211]:
# 243 timedelta - datetime 모듈의 timedelta를 사용해서 오늘로부터 5일, 4일, 3일, 2일, 1일 전의 날짜를 화면에 출력해보세요.
now = datetime.datetime.now() #현재시간
  
for i in range(5, 0, -1): # 거꾸로 5~1일이니까 order by를 나이의 역순으로 하겠다는 것
  delta = datetime.timedelta(days = i) # 며칠 뺄 건지 date타입으로
  date = now - delta #삭제
  print(date)

2021-02-21 01:45:35.528569
2021-02-22 01:45:35.528569
2021-02-23 01:45:35.528569
2021-02-24 01:45:35.528569
2021-02-25 01:45:35.528569

In [212]:
# 244 strftime - 현재시간을 얻어온 후 다음과 같은 포맷으로 시간을 출력해보세요. strftime 메서드를 사용하세요.
now = datetime.datetime.now()
now.strftime("%H-%M-%S")
#   18:35:01

'01-45-35'

In [213]:
#245 strptime
#datetime.datetime.strptime 메서드를 사용하면 문자열 형식의 시간을 datetime.datetime 타입의 시간 값으로 만들어줍니다. 
#"2020-05-04"의 문자열을 시간 타입으로 변환해보세요.
print(datetime.datetime.strptime("2020-05-04", "%Y-%M-%d"))

2020-01-04 00:05:00

In [214]:
# 246 sleep 함수 - time 모듈, datetime 모듈을 사용해서 1초에 한 번 현재 시간을 출력하는 코드를 작성하세요.
import time

while True:
  now = datetime.datetime.now() #현재시간 설정
  print(now) #현재시간 출력, 여기까지만 넣고 돌리면 sleep
  time.sleep(1) #슬립 함수, 얼마 단위로 출력할건지(1이면 1초)

2021-02-26 01:45:35.545927
2021-02-26 01:45:36.547287
2021-02-26 01:45:37.547612
2021-02-26 01:45:38.549046
2021-02-26 01:45:39.549450
2021-02-26 01:45:40.550630
2021-02-26 01:45:41.551018
2021-02-26 01:45:42.551300
2021-02-26 01:45:43.555332
2021-02-26 01:45:44.556803
2021-02-26 01:45:45.559703
2021-02-26 01:45:46.559908
2021-02-26 01:45:47.562767
2021-02-26 01:45:48.567095
2021-02-26 01:45:49.567626
2021-02-26 01:45:50.568064

KeyboardInterrupt:

In [215]:
# 247 모듈 임포트 - 모듈을 임포트하는 4가지 방식에 대해 설명해보세요.
#모르겠음

In [216]:
# # 248 os 모듈 - os 모듈의 getcwd 함수를 호출하여 현재 디렉터리의 경로를 화면에 출력해보세요.
import os
os.getcwd()
# os.chdir()

'/Users/a201806014/study/python_quest_300_for_novice'

In [217]:
# 249 rename 함수 - 바탕화면에 텍스트 파일을 하나 생성한 후 os 모듈의 rename 함수를 호출하여 해당 파일의 이름을 변경해보세요.

# import os
# os.rename("C:/Users/hyunh/Desktop/before.txt", "C:/Users/hyunh/Desktop/after.txt")

In [218]:
#250 numpy - numpy 모듈의 arange 함수를 사용해서 0.0 부터 5.0까지 0.1씩 증가하는 값을 화면에 출력해보세요.
import numpy as np
for i in np.arange(0, 5, 0.1):
  print(i)

0.0
0.1
0.2
0.30000000000000004
0.4
0.5
0.6000000000000001
0.7000000000000001
0.8
0.9
1.0
1.1
1.2000000000000002
1.3
1.4000000000000001
1.5
1.6
1.7000000000000002
1.8
1.9000000000000001
2.0
2.1
2.2
2.3000000000000003
2.4000000000000004
2.5
2.6
2.7
2.8000000000000003
2.9000000000000004
3.0
3.1
3.2
3.3000000000000003
3.4000000000000004
3.5
3.6
3.7
3.8000000000000003
3.9000000000000004
4.0
4.1000000000000005
4.2
4.3
4.4
4.5
4.6000000000000005
4.7
4.800000000000001
4.9